/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/*=======================================
    GENERAL STYLES
==================================================*/
body {         font-family: 'Raleway', sans-serif;    font-size:14px;

}

.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}

.text-center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway', sans-serif;
}

h1 {
    line-height:120px;
    text-transform:uppercase;
     color: #000000;
    font-weight:900!important;
}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {
    line-height:40px;
    padding-bottom:40px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:20px;
}

.space-pad {
    padding-bottom:50px;
}


.for-full-back {
     /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
}

section {
    padding-top:30px;
    padding-bottom:40px;
}

form {
margin: 0 auto; 
width:70%;
}
input[type="checkbox"] {
  width: 15px;
}
input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
}

input[type=file] {
    margin: 0 auto;
}
select{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 4px;
}

/*=======================================
    COLOR CODES
==================================================*/
.color-white {
   background-color:#fff!important;
}

.color-light {
   background-color:#F8F8F8!important;
}
.color-blue {
    color: #00A9DF;
}
/*=======================================
    HEADER STYLES
==================================================*/

.head-main {
    font-size:120px !important;
    font-weight:900!important;
    color:#585858!important;
    padding:200px 20px 20px 20px;
}

/*=======================================
    NAVIGATION STYLES
==================================================*/


nav {
	position: absolute;
	width: 100%;
    background: #fff;
    z-index:99;
}
.fixed {
	position: fixed; 
	top: 0; 
	min-height: 50px; 
	z-index: 99;
}

.navbar-inverse {
background-color: #525252;
border-color: #4B4A4A;
}

/*=======================================
    ABOUT STYLES
==================================================*/

.about-div {
	width: 100%;
min-height: 100px;
background-color: rgba(209, 209, 209, 0.24);
box-shadow: none;
border: 0;
padding: 50px 20px 30px 20px;
margin-bottom:20px;
}
/*=======================================
    FREE TEXT STYLES
==================================================*/
.free-div {
    width: 100%;
min-height: 100px;
background-color: rgba(209, 209, 209, 0.24);
box-shadow: none;
border: 0;
padding: 50px 20px 30px 20px;
margin-bottom:20px;
}
#lisaapizzanapit{
padding-top: 2%;
padding-bottom: 2%;
}

#lisaapizzanappi{
padding-top: 5%;
padding-bottom: 5%;
}

#taytteetnappi{
padding-top: 5%;
padding-bottom: 5%;
}
/*=======================================
    EXTRA LARGE BOOTSTRAP BUTTON
==================================================*/
.btn-xl {
    padding: 1% 7%;
    font-size: 200%; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/*=======================================
    CONTACT STYLES
==================================================*/
.contact-cls {
    font-size:20px;
    line-height:40px;
}
/*=======================================
    FOOTER STYLES
==================================================*/

#footer {
    background-color:#000;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}
/*=======================================
    TABLE STYLES
==================================================*/

table {
	font-size: 120%;
}

#pizzataulukko button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;
}
#pizzataulukko button:hover {
    color: DarkRed;
}
#pizzat { 
	background: url("pattern(1).png");
	
}

/*=======================================
    editable tables alkaa
==================================================*/
@import "compass/css3";

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}
/*=======================================
    editable tables loppuu
==================================================*/

/*=======================================
    Asiakkaan sivun tyylit
==================================================*/

#cover {
    background: #222 url('pizza-stock.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    height:100%;
    min-height:100vh;
    vertical-align: middle;
}
#cover-caption{
text-shadow: 0px 1px 3px #000000;
font-size: 300%;
text-align: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
    color: white;
}
#cover-caption h1 {
	color: white;
	
}

#cover-caption a {
	color: white;
}


  .affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  
  .dropdown-menu {
    width: 450px !important;
    height: 80px !important;
}







